<div class="card mt-4">
  <div class="card-body">
    <form>
        <div class="input-group mt-2 mb-2">
            <input type="text" class="form-control" placeholder="New iTem to list..." aria-label="New iTem to list..." aria-describedby="task-add" name="task" #taskInput>
            <div class="input-group-append">
              <button class="btn btn-outline-success" type="button" id="task-add" (click)="addNew(taskInput.value)">Add new</button>
            </div>
          </div>
          <div class="input-group mt-3 mb-1">
            <button class="btn btn-outline-warning" type="button" id="task-clear" (click)="clearToDo()">Clear all iTems</button>
          </div>
    </form>
  </div>
</div>
<div class="container mt-4">
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let task of tasks; let idx = index">
          {{task}}<button type="button" class="btn btn-danger btn-sm float-right" (click)="cancelTask(idx)">Delete</button>
        </li>
    </ul>
  </div>