<div class="container fixed-top">
    <form (submit)="noSub()" autocomplete="off">
        <div class="input-group mt-3 mb-3">
            <input type="text" class="form-control" placeholder="Agregar items a la lista..." aria-label="Agregar items a la lista..." aria-describedby="task-add" name="task" id="task" #taskInput (keyup.enter)="addNew(taskInput.value); taskInput.value = ''" autofocus >
            <div class="input-group-append">
              <button class="btn btn-success" type="button" id="task-add" (click)="addNew(taskInput.value); taskInput.value = ''">
                <i class="fas fa-shopping-cart"></i>
              </button>
            </div>
          </div>
    </form>
    <div class="alert alert-danger" *ngIf="validated" role="alert">
        {{ alertMsj }}
    </div>
</div>

<div class="list-items mb-3">
    <div class="alert alert-warning fade show" *ngIf="this.tasks.length <= 0" role="alert">
        <strong>List App mensaje:</strong> La lista esta vacia aun, debe agregar datos en el campo de texto.
    </div>

    <ul class="list-group mb-3  text-center" *ngIf="this.tasks.length > 0">
        <li class="list-group-item active">List App opciones:</li>
        <li class="list-group-item">
                <span><strong>Borrar toda</strong> la lista </span>
                <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#ModalDeleteList">
                    <i class="fas fa-eraser"></i>
                </button>
        </li>
    </ul>

    <ul class="list-group">
        <li class="list-group-item active" *ngIf="this.tasks.length > 0">
            Lista <span class="badge badge-success float-right">Items: <span class="badge badge-light">{{this.tasks.length}}</span></span>
        </li>
        <li class="list-group-item" *ngFor="let task of tasks; let idx = index">
            <span class="mt-1">{{idx + 1}}. {{task}}</span>
          <button type="button" class="btn btn-danger btn-sm float-right" (click)="cancelTask(idx)">
            <i class="fas fa-trash-alt"></i>
          </button>
        </li>
    </ul>
  </div>

<!-- Modal Delete All -->
<div class="modal fade" id="ModalDeleteList" tabindex="-1" role="dialog" aria-labelledby="ModalDeleteList" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalDeleteList">Cuidado!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                La lista, cuenta con: <span class="badge badge-light">{{this.tasks.length}}</span> elementos.
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" (click)="clearToDo()" data-dismiss="modal">Borrar</button>
            </div>
        </div>
        </div>
    </div>