.container.fixed-top{
    max-width: 540px;
}

.btn-success:focus, .btn-danger:focus {
    box-shadow: none!important;
}
.btn.focus, .btn:focus {
    box-shadow: none!important;
}

.form-control:focus{
    box-shadow: none!important;
    border-color: 1px solid #ced4da!important;
}

.list-items{
    margin-top: 85px;
}

.container.fixed-top{
    background-color: #252525!important;
}

.list-group .list-group-item.active{
    border: 1px solid rgba(0,0,0,.125)!important;
    background-color: #3e3e3e!important;
}

.btn.btn-success{
    background-color: #28a78a!important;
}
.badge.badge-success{
    font-weight: 400;
    font-size: 1rem;
    padding: 5px;
    background-color: #28a78a!important;
}